

@model List<SameZeraIjedynka.Database.Entities.Event>

@{
}

<h1>Users</h1>
<table class="table">
    <thread>
        <tr>
            <th>EventId</th>
            <th>Name</th>
            <th>Date</th>
            <th>Organizer</th>
            <th>Place</th>
            <th>Price</th>
            <th>Capacity</th>
            <th>Target</th>
            <th> </th>
        </tr>
    </thread>
    <tbody>
        @foreach (var even in Model)
        {
            <tr>
                <td>@even.EventId</td>
                <td>@even.Name</td>
                <td>@even.Date</td>
                <td>@even.Organizer</td>
                <td>@even.Place</td>
                <td>@even.Price</td>
                <td>@even.Capacity</td>
                <td>@even.Target</td>
                <td><a href="Events/View/@even.UserId">View</a></td>
            </tr>
        }
    </tbody>
</table>
