@model IEnumerable<EventModel>


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    <a asp-action="Index">Ulubione</a>
</p>
<table class="table">
    <thead>
        <tr>
        <th>
            <label asp-for="First().Name"></label>
        </th>
        <th>
            <label asp-for="First().Date"></label>
        </th>
        <th>
            <label asp-for="First().IsFavourite"></label>
        </th>
        </tr>
    </thead>

<tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.IsFavourite
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Details" /> @Html.DisplayNameFor(model => model.IsFavourite)
                        </label>
                    </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-data="@item.Id">Edit</a>
            </td>
        </tr>
    }
</tbody>
</table>
