@model IEnumerable<EventModel>

@{
    ViewData["Title"] = "Favorites";
}

<h1>Index</h1>

<p>
    <a asp-action="FavoritesEdit">Edytuj ulubione</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Date"></label>
            </th>
            <th>
                <label asp-for="First().Organizer"></label>
            </th>
            <th>
                <label asp-for="First().Place"></label>
            </th>
            <th>
                <label asp-for="First().Price"></label>
            </th>
            <th>
                <label asp-for="First().Capacity"></label>
            </th>
            <th>
                <label asp-for="First().Target"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Organizer
                </td>
                <td>
                    @item.Place
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Capacity
                </td>
                <td>
                    @item.Target
                </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
