@model List<SameZeraIjedynka.Database.Entities.Event>

@{
    ViewData["Title"] = "Ulubione";
}


<div class="container">
	<!-- ======= Intro Section ======= -->
	<section class="section-services section-t8">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap d-flex justify-content-between">
					<div class="title-box">
						<h2 class="title-a">Discover. Learn. Enjoy.</h2>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Intro Section -->
	<!-- ======= Sort Section ======= -->
	<section class="property-grid grid">
		<div class="col-sm-12">
			<div class="grid-option">
				<form method="get" action="">
					<select class="custom-select" name="sortOption">
						<option selected style="display: none;">---</option>
						<option value="time_left">Od najwcześniejszego</option>
						<option value="time_left_desc">Od najpóźniejszego</option>
						<option value="price">Od najtańszego</option>
						<option value="price_desc">Od najdroższego</option>
					</select>
					<button type="submit" class="btn btn-secondary btn-b">Sortuj</button>
				</form>
			</div>
		</div>
	</section> <!-- ======= End Sort Section ======= -->
	<!-- ======= Show Events Section ======= -->
	<section class="section-services">
		<div class="row all-event-filter">

			<div class="left-event-filter">
				<div class="col-sm-12 section-md-t3">
					<div class="widget-a">
						<div class="w-header-a">
							<h3 class="w-title-a text-brand">Kategoria</h3>
						</div>
						<div class="w-body-a">
							<div class="w-body-a">
								<ul class="list-unstyled">
									<a href="#">
									<li class="item-list-a clickable">
										<a href="#"><i class="bi bi-chevron-right"></i> Wszyscy
									</li></a>
									<a href="#">
									<li class="item-list-a clickable">
										<i class="bi bi-chevron-right"></i> Seniorzy
									</li></a>
									<a href="#">
									<li class="item-list-a clickable">
										<i class="bi bi-chevron-right"></i> Dorośli</a>
									</li></a>
									<a href="#">
									<li class="item-list-a clickable">
										<i class="bi bi-chevron-right"></i> Dzieci</a>
									</li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="right-event-filter property-grid grid">
				<div class="row">
					@foreach (var events in Model)
					{
						<div class="col-md-4">
							<div>
								<div class="card-box-d card-box-x rounded">
									<div class="card-img-d">
										<img src="assets/img/event-@(events.EventId + ".jpg")" alt="" class="img-d img-fluid" width="800" height="296">
									</div>
									<div class="card-overlay card-overlay-hover">
										<div class="card-header-d">
											<div class="card-title-d align-self-center">
												<h3 class="title-d">
													<a href="Event/View/@events.EventId" class="link-two">
														@events.Name
													</a>
												</h3>
											</div>
										</div>
										<div class="card-body-d">
											<div class="info-agents color-a">
												<p class="content-d color-text-a">
													Największy event IT w tej części Polski! 38 prelegentów, 12 godzin i wiele innych...
												</p>
												<p>
													<strong>Organizator: </strong> @events.Organizer
												</p>
												<p>
													<strong>Data: </strong> @events.Date
												</p>
												<p>
													<strong>Miejsce: </strong> @events.Place
												</p>
												<p>
													<strong>Cena: </strong> @events.Price
												</p>
											</div>
										</div>
									</div>
								 </div>
								<div class="col-md-12 title-link d-flex justify-content-between align-items-center">
									<strong>@events.Name</strong>
									<a href="#" onclick="deleteFromFavorites(@events.EventId)" class="link-two float-right">
										Usuń z ulubionych
									</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section><!-- ======= End Show Events Section ======= -->
</div>

<script>
	const listItems = document.querySelectorAll('.clickable');

	listItems.forEach(item => {
		item.addEventListener('click', () => {
			const isSelected = item.classList.contains('selected');

			if (!isSelected) {
				item.classList.add('selected');
			}
			if (isSelected) {
				item.classList.remove('selected');
			}

		});
	});
</script>

<script>
	function deleteFromFavorites(eventId) {
		var result = confirm("Czy na pewno chcesz usunąć ten event z ulubionych?");

		if (result) {
			fetch('/UserFavorite/Delete/' + eventId, {
				method: 'POST'
			})
				.then(response => {
					if (response.ok) {
						location.reload(); 
					} else {
						console.error('Wystąpił błąd podczas usuwania z ulubionych.');
					}
				})
				.catch(error => {
					console.error('Wystąpił błąd podczas wysyłania żądania.');
				});
		}
	}
</script>



